<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-blue" style="width:210px">
  <h1 href="#" class="w3-bar-item w3-button"><i class=""></i><img src="https://play-lh.googleusercontent.com/C_ABhRDwsX3DW8xmfPiukQCIcjTWL5O18IdszUSYL5FqT142eNKSZsMcwRd4djMUDIY" width="40" height="40" alt=""><b> PLN</b></h1>
 <hr>
  <a routerLink="table" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
  <a routerLink="forms1" class="w3-bar-item w3-button"><i class="fa fa-users"></i> Form Tipe User</a>
  <a routerLink="forms4" class="w3-bar-item w3-button"><i class="fa fa-users"></i> Form Pelanggan</a>
  <a routerLink="forms6" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Form Admin</a>
  <a routerLink="forms5" class="w3-bar-item w3-button"><i class="fa fa-book"></i>  Form Teknisi</a>
  <a routerLink="forms8" class="w3-bar-item w3-button"><i class="fa fa-book"></i> Form Penggunaan</a>
  <a routerLink="forms9" class="w3-bar-item w3-button"><i class="fa fa-book"></i> Form Tagihan</a>
  <a routerLink="forms10" class="w3-bar-item w3-button"><i class="fa fa-book"></i> Form Pembayaran</a>
  <a routerLink="forms2" class="w3-bar-item w3-button"><i class="fa fa-book"></i> Form Tarif</a>
  <a routerLink="forms7" class="w3-bar-item w3-button"><i class="fa fa-book"></i> Form Denda</a>
</div>

<!-- Page Content -->
<div style="margin-left:15%">



<div>
<router-outlet></router-outlet>
</div>

</div>
      
</body>
</html>
