[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = zanmaulana
	email = 109081662+zanmaulana@users.noreply.github.com
