<div class="jumbotron jumbotron-fluid" style="background-image: url('https://docplayer.info/docs-images/112/200322216/images/1-0.jpg'); background-size: cover;">
    <div class="container">
    <br>
      <h1 class="display-4 text-white">Selamat Datang Pelanggan PLN</h1>
      <p class="lead text-white">Pembayaran listrik jadi lebih mudah</p>
      <button routerLink="forms1" class="btn btn-warning btn">Daftar Langganan</button>
    </div>
  </div>
<div class="container">
<div class="card-deck">

    <div class="card">

      <img class="card-img-top" src="https://www.pinclipart.com/picdir/big/420-4206645_payment-coin-clipart.png" alt="Card image cap" height="230px" width="100px">
      <div class="card-body bg-warning">
        <br>
        <h4 class="card-title text-center">Pembayaran Token</h4>
        <p class="card-text"></p>  
        </div>

    </div>
   
    <div class="card shadow-sm">
      <img class="card-img-top" src="https://img.freepik.com/premium-vector/isometric-electricity-bill-payment-mobile-app-vector-concept_498940-123.jpg?w=2000" alt="Card image cap">
      <div class="card-body bg-warning">
        <br>
        <h4 class="card-title text-center">Pembayaran Tagihan</h4>
        <div style="margin-top: 80px;"></div>
      </div>
    </div>
    <div class="card" routerLink="forms2">
      <img class="card-img-top" src="https://img.freepik.com/premium-vector/flat-style-payment-utility-bills-concept-vector-illustration-utility-bills-saving-resources_657802-78.jpg?w=2000"  height="230px" alt="Card image cap">
      <div class="card-body bg-warning">
        <br>
        <h4 class="card-title text-center">Tarif Tagihan</h4>
      </div>
    </div>
  </div>
  <div style="margin-top: 200px;"></div>
</div>
